BR2_x86_64=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_DIALOG=y
BR2_PACKAGE_NTFS3G=y
BR2_PACKAGE_NASM=y
BR2_PACKAGE_TCC=y
BR2_PACKAGE_FDISK=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_GRUB2=y
BR2_PACKAGE_SYSLINUX=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="256M"
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_DHCPCD=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_NETCAT_OPENBSD=y
BR2_PACKAGE_IPUTILS=y
BR2_PACKAGE_IPROUTE2=y

